<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container auth-container" id="log">
        <h1>Login</h1>

            <% if (errorMsg) { %>
                 <div class="error-msg">
                       <%= errorMsg %>
                 </div>
             <% } %>

        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>

        <p style="margin-top: 15px;">
            Don't have an account? <a href="/register" class="link">Register here</a>
        </p>
    </div>
</body>
</html>
